@font-face {
    font-family: 'norsebold';
    src: url('./fonts/webfontkit-20250129-043123/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts_v2/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.logo {

    width:38%;
    height: 100vh;
    background-image: url('img/photo-1585202900225-6d3ac20a6962.avif');
    background-size: 100% 100%;
    
    background-repeat: no-repeat;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    padding-top:25vh;
    padding-bottom: 20vh;
}

.logo img {
    height: 120px;
    width: 90px;
}

.text {
    height: 130px;
    width: 100%;
    background-color: rgba(16, 12, 14, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.text p {
    color:white;
    font-family:'norsebold';
    font-size:5rem;
}

main {
    width: 70%;
}

.description {
    background-color: rgb(230, 217, 217);
    padding: 10%;
    font-weight: 700;
    height: 35%;
    /* /* white-space: nowrap; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.description p+p {
    margin-top: 1rem;
}

.form {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

form {
    margin-top: 1rem;
    display: flex;
    /* padding-left: 2rem;
    padding-right: 2rem; */
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h3 {
    display: block;
}



form p+p {
    margin-top: 2rem;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
} 

label,input{
    display:flex;
    flex-direction:column;
}

.bottom {
    margin-top: 2rem;
}